@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: hsl(253, 29%, 16%); */
  background-color: blue;
  color: white;
}

/* Scrollbar for ChatRoom */
main::-webkit-scrollbar {
  width: 0.4rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* Scrollbar for Rooms */
/* Hide scrollbar for Chrome, Safari, and Opera */
.sidebar__rooms::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.sidebar__rooms {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
